<!DOCTYPE html>
<html>
    <head>
        <title>CS @ CSUMB</title>
        <meta charset="utf-8">
        <link href="css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <img id="otter" src="img/cs@csumb.png" alt="csumb logo">
        <br>
        <em>Computer Science at CSUMB</em>
        <div>
            <a href="/welcome">Home</a>
            <a href="/soft_eng">Software Engineering</a>
            <a href="/game_dev">Game Development</a>
            <a href="/net_sec">Network Security</a>
            <a href="/data_sci">Data Science</a>
        </div>
        <br>