<% include partials/header.ejs %>
        <img src="img/game-dev-img.jpg" alt="game development" class="banner">
        <br>
        <em>Game Development: Let's Play</em>
        <div>
            <div>Learn to design, develop and deploy both serious</div>
            <div>games for solving problems and fun games for entertainment</div>
            <div>Here are the classes you'll need to take:</div>
            <div>Game Development, Graphics Programming, and Advanced Game Development</div>
        </div>
        <p>For more information about game developers, <a href="https://www.gamedesigning.org/career/game-developer/" target="_blank">CLICK HERE</a></p>
<% include partials/footer.ejs %>