<% include partials/header.ejs %>
        <img id="students" src="img/stcomp.jpg" alt="students">
        <h2 id="text">CSUMB is dedicated to getting students prepared for what they will need to thrive in the industry.  The school
        has four different concentrations.  Each is designated to help students run down a path that they prefer.
        </h2>
<% include partials/footer.ejs %>