<% include partials/header.ejs %>
        <img src="img/net-sec-img.jpg" alt="network security" class="banner">
        <br>
        <em>Network Security</em>
        <h2>Learn to design, develop, and deploy netwrok
        infrastructure that is secure and reliable</h2>
        <h3>The required courses are Intro to Computer Networks, Network Security, and Network Administration</h3>
        <h4>For more information about network security, <a href="https://www.cisco.com/c/en/us/products/security/what-is-network-security.html" target="_blank">click here</a></h4>
<% include partials/footer.ejs %>