<% include partials/header.ejs %>
        <img src="img/soft-eng-img.jpg" alt="software engineering" class="banner">
        <br>
        <em>Software Engineering</em>
        <div id="flex-container">
            <div>Software engineering is a difficult but rewarding major to attempt.</div>
            <div>It gives you the ability to create and problem solve.</div>
            <div>Here are the classes you'll need to take:</div>
        </div>
        <ul>
                <li>Graphics Programming</li>
                <li>Internet Programming</li>
                <li>Software Engineering</li>
        </ul>
        <div>For more information about software engineers, <a href="https://www.computerscience.org/careers/software-engineer/" target="_blank">CLICK HERE</a></div>
<% include partials/footer.ejs %>